<main>
    <div class="container-lg profile-box">
        <div class="row">
            <div class="col-md-7">
                <div class="profile-container">

                    <div class="profile-image">
                        <img src="<%= (userInfo.avatar)? userInfo.avatar :'/images/user.jpg' %>" class="" height="200px" width="200px">
                    </div>

                    <div class="profile-details">
                        <h2>
                            <%= userInfo.name %>
                        </h2>
                        <p>
                            <% if(userInfo.profession){ %>
                                <%= userInfo.profession %>
                                    <%}else{ %>
                                        Add Your Profession...
                                        <%} %>
                        </p>
                        <p>
                            <%= userInfo.followers.length %> Followers - <%= userInfo.following.length %> Following
                        </p>
                    </div>
                </div>
                <div class="about">
                    <p>
                        <% if(userInfo.about){ %>
                            <%= userInfo.about %>
                                <%}else{ %>
                                    Write About Yourself...
                                    <%} %>
                    </p>
                </div>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                            data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane"
                            aria-selected="true">Followers</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                            data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane"
                            aria-selected="false">Following</button>
                    </li>
                    
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                        tabindex="0">
                        <div class="content my-2 px-2">
                            <% if(userInfo.followers.length == 0){ %>
                                <span>No Followers Yet.</span>
                            <%} %>

                            <% for(let follower of userInfo.followers){ %>
                                <div class="followers-info">
                                    <div class="follower-image">
                                        <img src="<%= (follower.avatar)? follower.avatar :'/images/user.jpg' %>" class="rounded" height="50px" width="50px">
                                    </div>
                                    <div class="follower-details">
                                        <div class="follower-title">
                                            <h5><%= follower.name %></h5> <span>Joined On <%= moment(follower.createdAt).fromNow() %></span>
                                        </div>
                                        <div class="follower-info"><%= (follower.profession)? follower.profession : 'N/A' %></div>
                                    </div>
                                </div>
                            <% }%>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                        tabindex="0">
                        <div class="content my-2 px-2">
                            <% if(userInfo.following.length == 0){ %>
                                <span>No Followers Yet.</span>
                            <%} %>

                            <% for(let follower of userInfo.following){ %>
                                <div class="followers-info">
                                    <div class="follower-image">
                                        <img src="<%= (follower.avatar)? follower.avatar :'/images/user.jpg' %>" class="rounded" height="50px" width="50px">
                                    </div>
                                    <div class="follower-details">
                                        <div class="follower-title">
                                            <h5><%= follower.name %></h5> <span>Joined On <%= moment(follower.createdAt).fromNow() %></span>
                                        </div>
                                        <div class="follower-info"><%= (follower.profession)? follower.profession : 'N/A' %></div>
                                    </div>
                                </div>
                            <% }%>
                        </div>
                    
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="right-sidebar">
                    <div class="right-sidebar-header">
                        <h4>Update Profile Credential</h4>
                        <i class="fa-solid fa-pencil"></i>
                    </div>
                    <div class="right-sidebar-list">
                        <div class="right-sidebar-item"><i class="fa-solid fa-user-graduate"></i>
                            <p data-bs-toggle="modal" data-bs-target="#updateAbout">Write About Yourself</p>
                        </div>
                        <div class="right-sidebar-item"><i class="fa-solid fa-list"></i>
                            <p data-bs-toggle="modal" data-bs-target="#updateProfile"> Add Profile Credential</p>
                        </div>
                        <div class="right-sidebar-item"><i class="fa-solid fa-user"></i>
                            <p data-bs-toggle="modal" data-bs-target="#updateImage"> Add Profile Image</p>
                        </div>
                        <div class="right-sidebar-item"><i class="fa-solid fa-briefcase"></i>
                            <p>Joined On <%= moment(userInfo.createdAt).format('ll'); %>
                            </p>
                        </div>


                    </div>
                </div>

                <div class="right-sidebar mt-3">
                    <div class="right-sidebar-header">
                        <h4>Interests</h4>
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTopic">Add New Topic</button>
                    </div>
                    <div class="right-sidebar-list">
                        <% if(userInfo.interests.length == 0){ %>
                            <p>No Topic Found!. Add a new one. </p>    
                        <%} %>
                        <% for(let topic of userInfo.interests){ %>
                        <div class="right-sidebar-item justify-content-between align-items-center">
                            <p data-bs-toggle="modal" data-bs-target="#updateAbout"><%= topic.name %></p>
                            <a href="/user/interest/remove/<%= topic.id %>"><i class="fa-solid fa-xmark"></i></a>
                        </div>
                            <% } %>

                                <button data-bs-toggle="modal" data-bs-target="#addInterest"
                                    class="theme-btn text-center mt-3">Add Topic</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<!-- for update prfile credential -->
<div class="modal fade" id="addTopic" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Topic</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/topic/add" method="POST">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="topicNew">Add Topic</label>
                        <input type="text" id="topicNew" name="topic" class="form-custom w-100" placeholder="Add New Topic"
                            value="" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="theme-btn">Add Topic</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Add Interest -->
<div class="modal fade" id="addInterest" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Interest</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/user/interest/add" method="POST">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="interest">Add Interest</label>
                        <select id="interest" name="interest" class="form-custom w-100">
                            <option value="hidden" hidden>Select An Option</option>
                            <% for(let topic of topics){ %>
                                <option value="<%= topic.id %>">
                                    <%= topic.name %>
                                </option>
                                <%} %>

                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="theme-btn">Save Interests</button>
                </div>
            </form>
        </div>
    </div>
</div>



<!-- for update about info -->
<div class="modal fade" id="updateAbout" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">About</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/user/profile/about" method="POST">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="about">About</label>
                        <textarea id="about" rows="10" resize="no-resize" name="about" class="form-custom w-100"
                            placeholder="Write About Yourself"><%=userInfo.about %></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="theme-btn">Update Bio</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- for update prfile credential -->
<div class="modal fade" id="updateProfile" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Profession</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/user/profile/profession" method="POST">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="profile">Add Profession</label>
                        <input type="text" id="profile" name="profession" class="form-custom w-100"
                            placeholder="Write About Working" value="<%=userInfo.profession %>" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="theme-btn">Update Profile</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- for update profile image -->

<div class="modal fade" id="updateImage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Profile Image</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/user/profile/avatar" method="POST" enctype="multipart/form-data">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="image">Add Image</label>
                        <input type="file" id="image" name="avatar" class="form-custom w-100" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="theme-btn">Add Image</button>
                </div>
            </form>
        </div>
    </div>
</div>